<div class="row">
  <div class="small-12 small-offset-0 medium-10 medium-offset-1 large-10 large-offset-1 columns">
    <div class="featured-product-slides small-12 small-offset-0 medium-10 large-10 large-offset-1 columns">
      <div id="slider">
        <a href="#" class="control_next">&gt;</a>
        <a href="#" class="control_prev">&lt;</a>
        <ul>
          <li><a href="/products/29"><%= image_tag("Slide-1.svg") %></a></li>
          <li><a href="/products/2"><%= image_tag("Slide-2.svg") %></a></li>
          <li><a href="/products/30"><%= image_tag("Slide-3.svg") %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
