<div class="row category-show">
  <div class="small-12 small-offset-1 medium-10 medium-offset-1 large-10 large-offset-1 columns">
    <h6 class="featured-header">featured products</h6>
    <div class="main-carousel">
      <div class="carousel-cell">...</div>
      <div class="carousel-cell">...</div>
      <div class="carousel-cell">...</div>
    </div>
    <!-- <div class="row featured-products">
      <div class="featured-product panel small-10 medium-6 large-4 columns">

        <p>It has an easy to override visual style, and is appropriately subdued.</p>
      </div> -->
    </div>
  </div>
</div>
