$red: #ED474A;
$offwhite: #F3F2F1;
$darkblue: #0B132B;
$lightblue: #2F4858;
$regular: 400;

/** MOBILE **/
.desktop-user-row {
  display: none;
}

li {
  list-style-type: none;
}

li img {
  margin-top: 0px;
  margin-right: 0px;
  padding-bottom: 12px;
}

.menu {
  display: none;
}

.mobile-logo {
  width: 87%;
  height: auto;
  margin-bottom: 1em;
  padding-top: 2.5em;
  padding-left: 3em;
}

.mobile-menu-row {
  justify-content: center;
}

/* Shopping cart & User signed in */
.shipping-info {
  display: none;
}

.mobile-shipping-info {
  margin: 0;
  background-color: $red;
}

.m-shipping-info-content > p {
  text-align: center;
  padding-top: 9px;
  color: $offwhite;
  font-weight: bold;
  height: auto;
  margin-bottom: 5px;
  width: 100%;
}

/* Mobile Nav Styling */

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9900;
  background: #fff;
  transform: translateY(-100%);
  transition: all 0.2s ease;
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
        li {
          display: block;
          float: none;
          width: 100%;
          text-align: center;
        }
    }
}

.nav-container ul li a {
  align-items: flex-start;
  padding: 5px 20px;
  color: $darkblue;
  font-size: 26px;
  transform: scale(1.25);
  transition: all 0.3s ease;
}

.nav-items ul {
  margin-left: 0;
}

.nav-open {
  position: fixed;
  left: 5px;
  top: 32px;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 9999;
}

.nav-open i {
  display: block;
  width: 20px;
  height: 2px;
  background: $darkblue;
  border-radius: 2px;
  margin-left: 20px;
}

.nav-open i:nth-child(1) {
  margin-top: 20px;
  transition: transform 0.4s ease;
}

.nav-open i:nth-child(2) {
  margin-top: 4px;
  transition: transform 0.4s ease;
}

.nav-open i:nth-child(3) {
  margin-top: 4px;
  transition: transform 0.4s ease;
}

#nav:checked + .nav-open i {
  background: $darkblue;
}

#nav:checked + .nav-open i:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

#nav:checked + .nav-open i:nth-child(2) {
  transform: translateX(-100px);
}

#nav:checked + .nav-open i:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

#nav:checked ~ .nav-container {
  transform: translateY(0);
}

#nav:checked ~ .nav-container ul li {
  margin-bottom: 10px;
}

#nav:checked ~ .nav-container ul li a {
  color: $darkblue;
  transform: scale(1);
    &:hover {
      color: lighten($lightblue, 20%);
    }
}

.mobile-cart {
  padding-bottom: 0;
}

.hidden {
  display: none;
}

.user-contents {
  border-top: 1px solid lighten($lightblue, 10%);
}

#search {
  margin-top: 2.5em;
  background-color: #fff;
  border-color: $lightblue;
  border-radius: 8px;
}

#search-form {
  display: inline-block;
  width: 85%;
}

#search[type='text'] {
  color: $darkblue;
}

.fa-search {
  margin-left: -2em;
  color: darken($offwhite, 20%);
}

@media only screen and (min-width: 768px) {

  .mobile-shipping-info {
    display: none;
  }

  .shipping-info {
    margin: 0;
    display: initial;
  }

  .shipping-info-content {
    background-color: $red;
  }

  .shipping-info-content > p {
    text-align: center;
    padding-top: 9px;
    color: $offwhite;
    font-weight: bold;
    height: auto;
    margin-bottom: 5px;
    width: 100%;
  }

  .desktop-user-row {
    display: initial;
  }

  .user-signed-in {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 0.5rem;
      li {
        margin-right: 5px;
      }
  }

  .user-info {
    display: flex;
    justify-content: flex-end;
  }

  .shopping {
    display: flex;
    justify-content: flex-end;
  }

  .mobile-menu-row {
    display: none;
  }

  .mobile-border-row {
    display: none;
  }

  .menu {
    display: initial;
  }

  .logo {
    padding-left: 22em;
  }

  .menu-row {
    justify-content: center;
  }

  .menu-items {
    display: flex;
    text-align: center;
    padding-left: 3em;
  }

  .m-item {
    text-align: center;
    padding-top: 19px;
    padding-right: 66px;
      p {
        margin-bottom: 0;
      }
  }

  .nav-border {
    background-color: $darkblue;
    float: right;
    height: 1px;
    margin-top: -2em;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    padding-left: 0;
  }

  .menu {
    display: inline-flex;
    background-color: #fff;
    padding-top: 1em;
  }

  .menu-items {
    padding-left: 5em;
  }

  .border-row {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
  }

  .nav-border {
    text-align: right;
    float: right;
    margin-top: -4em;
    width: 72%;
  }
}
