/* New Product Form */

input#product_title,
textarea#product_description,
textarea#product_details,
input#product_price,
select#product_category_id {
  border-radius: 8px;
  font-size: 0.9rem;
}

input#product_image {
  font-family: 'Raleway', 'Verdana', sans-serif;
}

.new-product-form {
  margin-top: 3.5em;
  margin-bottom: 9em;
}

.edit-product-form {
  margin-top: 3.5em;
  margin-bottom: 11em;
}

/* Product Show - Individual Product */
.single-product {
  text-align: left;
}

.product-photo {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 2em;
}

.product-photo > img {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.product-show {
  margin-top: 2.25em;
  margin-bottom: 11em;
}

/* Products Show -- per Category */

.product-category {
  text-align: left;
}

.product-n-category {
  background-color: red;
  border-right: 1px solid aquamarine;
}

/* Featured Products */

.featured-header {
  text-align: left;
  margin-top: 1.5em;
}

@media only screen and (min-width: 768px) {
  .product-show {
    margin-top: 3.25em;
    margin-bottom: 10em;
  }

  .product-photo {
    margin-bottom: 0;
  }

  .product-info {
    padding-left: 3em;
  }
}

@media only screen and (min-width: 1024px) {
  .product-show {
    margin-top: 2.25em;
    margin-bottom: 3.5em;
  }

  .product-info {
    padding-left: 3em;
  }
}
