/* SLIDER */

.slider-action {
  display: none;
}

.featured-imgs {
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .featured-product {
    border-bottom: none;
  }

  .featured-products {
    margin-bottom: 8em;
  }
}

@media only screen and (min-width: 930px) {

  .featured-imgs {
    display: none;
  }

  .slider-action {
    display: initial;
  }

  #slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    ul {
      position: relative;
      margin: 0;
      padding: 0;
      height: 200px;
      list-style: none;
      li {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 750px;
        height: 300px;
        text-align: center;
        line-height: 300px;
      }
    }

    a.control_prev, a.control_next {
      position: absolute;
      top: 40%;
      z-index: 999;
      display: block;
      padding: 2% 1.5%;
      width: auto;
      height: auto;
      background: $lightblue;
      color: $offwhite;
      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
      opacity: 0.3;
      cursor: pointer;
      &:hover {
        opacity: 1;
        transition: all 0.2s ease;
      }
    }

    a.control_prev {
      border-radius: 0 5px 5px 0;
    }

    a.control_next {
      right: 0;
      border-radius: 5px 0 0 5px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .featured-products {
    margin-left: 5em;
    margin-bottom: 3em;
  }
}
