<div class="form-container small-10 small-centered medium-8 large-6 columns">
  <h6 class="mbs">New Order</h6>
  <%= form_tag transactions_path do%>
    <%= render 'customer_form' unless current_user.has_payment_info? %>
    <p>Please enter your payment details:</p>
    <div id="dropin"></div>
    <%=submit_tag "Pay now", class: "button mt1" %>
  <%end%>
</div>
